<!DOCTYPE html>
<html>

<head>
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   {{>header}}
   <p>Hi there,
      This is about pages
   </p>
   <p>{{name}}</p>
   {{>footer}}
</body>

</html>